name: Deploy Angular to S3

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install Dependencies
        run: npm install

      - name: Build Angular App
        run: npm run build --configuration production

      - name: Deploy to S3
        uses: aws-actions/amazon-s3-deploy@v2
        with:
          bucket: bookmyseatak
          region: us-east-1
          folder: dist/frontend-service
